<p><%= t('.salutation', first_name: @user.first_name, last_name: @user.last_name) %>,</p>

<p><%= t('.instruction') %></p>

<p><%= link_to main_app.confirm_admin_invitations_url(account_id: @account_id),
               main_app.confirm_admin_invitations_url(account_id: @account_id) %></p>

<p><%= t('.ending') %></p>

<p><%= t('.greeting') %></p>
